<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobu.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.xiaobu.entity.Goods">
    <!--@mbg.generated-->
    <id column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_type" jdbcType="BIGINT" property="goodsType" />
  </resultMap>
  <!--suppress SqlResolve -->
    <sql id="Base_Column_List">
    <!--@mbg.generated-->
    goods_id, goods_name, goods_type
  </sql>

    <!--suppress SqlResolve -->
    <delete id="deleteByGoodsId">
        delete from goods
        where goods_id=#{goodsId,jdbcType=BIGINT}
    </delete>

    <!--suppress SqlResolve -->
    <delete id="deleteAll">
        delete
        from goods
    </delete>

</mapper>